{% extends "base.html" %}
{% block content %}
<h1>Report {{ report_month|date:"F" }}</h1>
<h2>Active Publishers: <em>{{ active_publishers }}</em></h2>
<h2>Auxiliary Pioneers: <em>{{ auxiliary_pioneers|length }}</em></h2>
<ul>
{% for ap in auxiliary_pioneers %}
<li><a href='{% url "card" ap.pk %}' data-toggle="modal" data-target="#myModal">{{ ap.get_name }}</a></li>
{% endfor %}
</ul>
{# publishers #}
 
<table class="table table-hover">
    <tr>
        <th>Group</th>
        <th>Count</th>
        <th>Hours</th>
        <th>Magazines</th>
        <th>Visits</th>
        <th>Studies</th>
        <th>Books</th>
        <th>Booklets/Brochures</th>
    </tr>
    <tr>
        <td>Publishers</td>
        <td>{{ pub_report.count }}</td>
        <td>{{ pub_report.hours }}</td>
        <td>{{ pub_report.magazines }}</td>
        <td>{{ pub_report.visits }}</td>
        <td>{{ pub_report.studies }}</td>
        <td>{{ pub_report.books }}</td>
        <td>{{ pub_report.booklets_brochures }}</td>
    </tr>
    <tr>
        <td>Auxiliary Pioneers</td>
        <td>{{ aux_report.count }}</td>
        <td>{{ aux_report.hours }}</td>
        <td>{{ aux_report.magazines }}</td>
        <td>{{ aux_report.visits }}</td>
        <td>{{ aux_report.studies }}</td>
        <td>{{ aux_report.books }}</td>
        <td>{{ aux_report.booklets_brochures }}</td>
    </tr>
    <tr>
        <td>Regular Pioneers</td>
        <td>{{ reg_report.count }}</td>
        <td>{{ reg_report.hours }}</td>
        <td>{{ reg_report.magazines }}</td>
        <td>{{ reg_report.visits }}</td>
        <td>{{ reg_report.studies }}</td>
        <td>{{ reg_report.books }}</td>
        <td>{{ reg_report.booklets_brochures }}</td>
    </tr>
</table>

{% if dnr %}
<h2>Did not report yet:</h2>
<dl>
{% for pub in dnr %}
    {% ifchanged pub.group %}<dt>{{ pub.group }}</dt>{% endifchanged %}
    <dd><a class="modallink" href='{% url 'report_add' publisher=pub.pk %}' data-toggle="modal" data-target="#myModal">{{ pub.get_name }}</a></dd>
{% endfor %}
</dl>
{% endif %}
<script>
$(function() {
    $('.navbar li').removeClass('active');
    $('.navbar #page_home').addClass('active')
});    
</script>

{% endblock %}
